* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;    
}

.conteudo {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;    
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header, section h2, h3, p {
    font-family: Roboto, san-serif;
    font-weight:normal;
}

.conteudo {
    display: grid;
    grid-template-columns: auto;
}

.loja img {
    max-width: 100%;
}

.texto {
    max-width: 100%;
}

.about {
    margin-bottom: 56px;
}

.about .loja {
    display: flex;
    font-size: 22px;
}

.about .loja h2 {    
    font-style: italic;
    font-weight: bold;
}

.texto2 h2 {    
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
}

.about .loja .texto h2 {
    border-bottom: 3px solid blue;
    margin-bottom: 45px;
}

.about .loja .texto h3 {
    font-size: 18px;
}

body {
    font-family: 'Roboto', sans-serif;    
    background-color: #c0d9e9
}

header {    
    padding: 16px 0;
    background-color: blue;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

section .container {
    align-items: flex-start;
}

section {
    margin-top: 24px;
    margin-bottom: 30px;
}

section h2 {
    margin-bottom: 16px;
    color: blue;
}

section p {
    margin-bottom: 8px;
}

.frente-loja {
    margin-right: 42px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
}

.produtos li {
    list-style: none;
    margin-bottom: 20px;}

.produtos li h3 {
    margin: 16px 0;
}

.texto2 {
    border-bottom: 3px solid blue;
    margin-bottom: 45px;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: blue;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 16px;
}

@media screen and (max-width: 767px) {
    .conteudo {
        display: block;
    }

    .container{
        max-width: 90%;
    }


    .produtos {
        grid-template-columns: repeat(1, 100%);
    }

       .button {
        padding: 8px 16px;
        width: 100%;
    }
    
    .loja img {
        max-width: 100%;
    }
    
    .texto {
        max-width: 100%;
    }
    
    .about .loja {
        display: block;
        font-size: 22px;
    }
    
    .about .loja h2 {    
        font-style: italic;
        font-weight: bold;
    }
    
    .texto2 h2 {    
        font-style: italic;
        font-weight: bold;
        font-size: 32px;
    }
    
    .about .loja .texto h2 {
        border-bottom: 3px solid blue;
        margin-bottom: 45px;
    }
    
    .about .loja .texto h3 {
        font-size: 18px;
    }
}
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .container {
            max-width: 90%;
        }
    
        .destaque .noticia a {
            font-size: 1.5em;
        }
    
        .produtos {
            grid-template-columns: repeat(2, 48%);
            gap: 2%;
        }
    }